:root {
    --primario: #F5F5F5;
    --secundario: #EAF2FD;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    font-size: 5.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

/*              Utilidades              */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.bg-primario {
    background: var(--primario);
}

.bg-secundario {
    background: var(--secundario);
}

.btn {
    padding: 1.2rem 2.2rem;
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
}

.btn-primario {
    color: #ffffff;
    background: #2626d6;
    border: 0.1rem solid #2626d6;
}

.btn-secundario {
    color: #2626d6;
    background: transparent;
    border: 0.1rem solid #2626d6;
}

/*                  Header                  */
.barra {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    align-self: center;
    margin-right: 1rem;
}

.navegacion {
    display: flex;
}

.navegacion ul {
    display: flex;
}
.navegacion ul li {
    margin-right: 2rem;
}

.navegacion p {
    font-weight: bold;
}

/*                         Main                        */

/*   Seccion 1-Presentacion  */
.presentacion {
    padding: 8rem 0;
    display: flex;
    gap: 2rem;
}

.nav-redes {
    display: flex;
    align-items: center;
}

.nav-redes li {
    margin-right: 4rem;
}

.nav-redes .item::after {
    content: url(../img/Arrow.png);
    margin: 1rem;
}

.presentacion-img img {
    border-radius: 50%;
}

/*   Seccion 2-Sobre mi  */

.sobremi {
    padding: 6rem 0;
}

/*   Seccion 3-Skills  */
.skills {
    padding: 6rem 0;
}

.skills h2 {
    margin-bottom: 4rem;
}

.lista-skills {
    display: flex;
    justify-content: space-between;
}


/*   Seccion 4-Hobbies  */

.hobbies {
    padding: 6rem 0;
}

.hobbies h2 {
    margin-bottom: 4rem;
}

.lista-hobbies {
    display: flex;
    justify-content: space-between;
}

.caja {
    width: 16%;
    height: 13rem;
    padding: 2rem;
    text-align: center;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}

.caja i {
    color: #2626d6;
    font-size: 4rem;
}

.caja p {
    font-size: 1.2em;
    font-weight: bold;
}

/*   Seccion 5-Formación académica  */

.formacion {
    padding: 6rem 0;
}

.formacion h2 {
    margin-bottom: 4rem;
}

.formacion__lista {
    display: flex;
    justify-content: space-between;
}

.formacion__lista__caja {
    width: 32%;
}

.formacion__lista__caja__img {
    padding: 6rem;
    display: flex;
    height: 70%;
    background: #ffffff;
    align-items: center;
}

/*     Seccion 6 - Experiencia    */
.experiencia {
    padding: 6rem 0;
}

.experiencia h2 {
    margin-bottom: 4rem;
}

.experiencia__lista {
    display: flex;
    margin-top: 4rem;
}

.experiencia__lista__img {
    width: 70%;
}

.experiencia__lista__info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30%;
    justify-content: center;
}

/*     Seccion 7 - Contacto    */
.contacto {
    padding: 6rem 0;
    display: flex;
    gap: 2rem;
}

.contacto__img {
    width: 40%;
}

.contacto__img img {
    height: 100%;
}

.contacto__form {
    width: 60%;
}

.contacto__form__caja {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 1rem 1rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

.contacto__form__caja label {
    padding-bottom: 1rem;
    opacity: 50%;
}

.contacto__form__caja input,
.contacto__form__caja textarea {
    border: none;
}

.contacto__form__caja input:focus,
.contacto__form__caja textarea:focus {
    outline: none;
}



/*       Footer           */

.footer {
    padding: 3rem 0;
    text-align: center;
}


